<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Euphoria: Student Happiness Tracker</title>{% endblock %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>EUPHORIA: College Happiness Finder</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Add additional CSS in static file -->
  {% load static %}
  <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/theme.css' %}">
  <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="{% static 'img/logo.ico' %}">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
    <i class="fa fa-bars"></i>
    </button>
    <!--<img src="{% static 'img/logo.png' %}" height="2%" width="2%" align = "left"/>-->
    <a class="navbar-brand page-scroll" href="#">:: EUPHORIA</a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
    <ul class="nav navbar-nav">
      <li>
      <a href="#about">About</a>
      </li>
      <li>
      <a href="#works">How it works</a>
      </li>
      <li>
      <a href="finder">College Finder</a>
      </li>
      <li>
      <a href="ten">Our top 10</a>
      </li>
      <!--<li>
      <a href="contact.html">Hire me</a>
    </li>-->
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>
<!-- Intro Header -->
<header class="intro">
<div class="intro-body">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="brand-heading">EUPHORIA</h1>
				<p class="intro-text">
					How happy are students at your college?
				</p>
				<a href="#about" class="btnghostwhite page-scroll">About
				</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				<a href="finder" class="btnghostwhite page-scroll">Begin
				<!--<i class="fa fa-angle-double-down animated"></i>-->
				</a>
			</div>
		</div>
	</div>
</div>
</header>
<!-- About Section -->
<section id="about">
<div class="container content-section text-center">
	<div class="row">
		<h2>ABOUT EUPHORIA</h2>
		<div class="col-lg-8 col-lg-offset-2">
			<p>
				We know that applying to college is hard. Most college rankings focus on academics and campus life, but few address the mental wellness of the students. EUPHORIA will analyze the happiness of students on campus, helping you decide if it’s the right place for you. It's simple to use. Enter your college and we'll return a number. The higher the number, the happier the college.
			</p>
			<p>
				<a href="https://github.com/lugrace/technica17" target="_blank" class="btnghost"><i class="fa fa-github"></i> Github</a>
				&nbsp&nbsp&nbsp&nbsp
				<a href="#works" class="btnghost page-scroll">How it works</a>
			</p>
		</div>
	</div>
</div>
</section>


<section id="works">
	<div class="container">
		<div class="row text-center mb100">
			<div class="container content-section text-center">
				<h2>How it Works</h2>
				<div class="col-lg-8 col-lg-offset-2">
				<p>By analyzing tweets from the student body of a college campus, Euphoria uses natural language processing to assess the mental well-being of the community.</p>
				</div>
			</div>
			<div class="col-md-8 col-md-pull-2 page-scroll">
			<!--<p>hi<p>-->
			</div>
		</div>

    <div class="row text-center mb100">
    <div class="col-md-6">
      <img src="{% static 'img/bird.png' %}" height="50%" width="50%" align = "right"/>
    </div>
    <div class="col-md-6">
      <h2 align = "left">Twitter</h3>
      <p align = "left">What better source to hear the voice students part of the college community than through Twitter? We use the most recent 5,000 tweets (real-time) that contain a message regarding the college/university. We process this data using natural language processing (NLP) to find keywords in the message and to classify the message using sentiment analysis.</p>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="row text-center mb100">
    <div class="col-md-6">
      <h2 align = "right">APIS &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h3>
      <p align = "right">Microsoft Azure Text Analytics API</p>
      <p align = "right">Clearbit Autocomplete API</p>
      <p align = "right">Twitter API</p>
    </div>
    <div class="col-md-6">
      <img src="{% static 'img/cloud.png' %}" height="60%" width="60%" align = "left"/>
    </div>
  </div>
  <div class="row text-center mb100">
    <div class="col-md-6">
      <br>
      <br>
      <br>
      <br>
      <img src="{% static 'img/chat.png' %}" height="60%" width="60%" align = "right"/>
    </div>
    <div class="col-md-6" col-lg-offset-5>
      <br>
      <br>
      <br>
      <br>
      <h2 align = "left">Natural Language Processing</h3>
      <p align = "left">We used Microsoft Azure’s Text Analytics API to implement the artificial intelligence aspect of our product, while also performing a sentiment analysis on our tweets. This generates a number, which ranks the tweet on a “good”/”bad” spectrum. By aggregating this number for thousands of tweets, we were able to compute a numerical average, which is the “happiness” factor. This is the value displayed under each college. </p>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
</section>

<!-- Footer -->
<footer>
<div class="container text-center">
  <p class="credits">
    Copyright &copy; EUPHORIA 2017<br/>
  </p>
</div>
</footer>

<!-- jQuery -->
{% load static %}
<script src="{% static 'js/jquery.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Plugin JavaScript -->
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<!-- Custom Theme JavaScript -->
<script src="{% static 'js/theme.js' %}"></script>
</body>
</html>
